<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.dao.IAdminDao">
    <resultMap id="BaseResultMap" type="com.job.pojo.Admin">
        <result column="admin_id" jdbcType="VARCHAR" property="adminId"/>
        <result column="admin_password" jdbcType="VARCHAR" property="adminPassword"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="adminName" jdbcType="VARCHAR" property="adminName"/>
        <result column="adminDesc" jdbcType="VARCHAR" property="adminDesc"/>
        <result column="id" jdbcType="INTEGER" property="id"/>
    </resultMap>

    <select id="loginBackstage" parameterType="Admin" resultMap="BaseResultMap">
		select * from admin where admin_id=#{adminId} and admin_password=#{adminPassword}
	</select>
    <!--注册一个管理员账号-->
    <insert id="ResAdmin" parameterType="Admin">
        insert into admin (admin_id, admin_password, type, company, adminName, adminDesc) values (#{adminId},#{adminPassword},"admin",#{company},#{adminName},#{adminDesc})
    </insert>
    <!--列出所有的管理员信息，并且分页-->
    <select id="listAllAdmin" resultMap="BaseResultMap">
        select * from admin limit #{page},#{limit};
    </select>
    <delete id="deleteAdmin">
        delete from admin where admin_id = #{adminId};
    </delete>
    <update id="updateAdminInfo">
        update admin
        <set>
            <if test="adminName != null">adminName = #{adminName}</if>
            <if test="adminPassword != null">admin_password = #{adminPassword}</if>
            <if test="company != null">company = #{company}</if>
            <if test="adminDesc != null">adminDesc = #{adminDesc}</if>
        </set>
        where admin_id = #{adminId}
    </update>
</mapper>