<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.dao.IJobInfoDao">
    <resultMap id="BaseResultMap" type="com.job.pojo.JobInfo">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="Company" jdbcType="VARCHAR" property="Company"/>
        <result column="Department" jdbcType="VARCHAR" property="Department"/>
        <result column="Job" jdbcType="VARCHAR" property="Job"/>
        <result column="Welfare" jdbcType="VARCHAR" property="Welfare"/>
        <result column="Academic" jdbcType="VARCHAR" property="Academic"/>
        <result column="Descrive" jdbcType="VARCHAR" property="Descrive"/>
        <result column="Address" jdbcType="VARCHAR" property="Address"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="Salary" jdbcType="VARCHAR" property="Salary"/>
        <result column="experience" jdbcType="VARCHAR" property="experience"/>
        <result column="workTime" jdbcType="VARCHAR" property="workTime"/>
        <result column="jobRequirements1" jdbcType="VARCHAR" property="jobRequirements1"/>
        <result column="jobRequirements2" jdbcType="VARCHAR" property="jobRequirements2"/>
        <result column="jobRequirements3" jdbcType="VARCHAR" property="jobRequirements3"/>
        <result column="jobRequirements4" jdbcType="VARCHAR" property="jobRequirements4"/>
        <result column="jobRequirements5" jdbcType="VARCHAR" property="jobRequirements5"/>
        <result column="channelPromotion1" jdbcType="VARCHAR" property="channelPromotion1"/>
        <result column="channelPromotion2" jdbcType="VARCHAR" property="channelPromotion2"/>
        <result column="job_type" jdbcType="VARCHAR" property="jobType"/>
        <result column="admin_id" jdbcType="VARCHAR" property="adminId"/>
    </resultMap>
    <insert id="addJobInfo" parameterType="JobInfo" >
        insert into jobinfo (Company,Department,Job,Welfare,Academic,Descrive,Address,type,Salary,experience,workTime,jobRequirements1,jobRequirements2,jobRequirements3,jobRequirements4,jobRequirements5,channelPromotion1,channelPromotion2,job_type)
         values (#{Company},#{Department},#{Job},#{Welfare},#{Academic},#{Descrive},#{Address},#{type},#{Salary},
         #{experience},#{workTime},#{jobRequirements1},#{jobRequirements2},#{jobRequirements3},#{jobRequirements4},#{jobRequirements5},#{channelPromotion1},#{channelPromotion2},#{jobType})
    </insert>
    <!--通过类型查找-->
    <select id="showAllJob" resultMap="BaseResultMap">
        select * from jobinfo where type = #{type}
    </select>
    <!--返回所有-->
    <select id="selectAll" resultMap="BaseResultMap">
        select * from jobinfo
    </select>
    <select id="selectByteAddr" resultMap="BaseResultMap">
        select * from jobinfo where Address = #{Address}
    </select>
    <select id="slectByteId" resultMap="BaseResultMap">
        select * from jobinfo where id = #{id}
    </select>
    <select id="selectTypeButeSchool" resultMap="BaseResultMap">
        select * from jobinfo where job_type="校招"
    </select>
    <!--layui后台查出所有的工作信息-->
    <select id="jobList" resultMap="BaseResultMap">
        select * from jobinfo limit #{page},#{limit};
    </select>
    <!--layui后台删除一个job-->
    <delete id="jobDelete">
        delete from jobinfo where id = #{id}
    </delete>
    <!--layui后台修改job信息-->
    <update id="jobUpdate">
        update jobinfo
        <set>
            <if test="Company!=null">Company=#{Company}</if>
            <if test="Department!=null">Department=#{Department}</if>
            <if test="Job!=null">Job=#{Job}</if>
            <if test="Welfare!=null">Welfare=#{Welfare}</if>
            <if test="Academic!=null">Academic=#{Academic}</if>
            <if test="Descrive!=null">Descrive=#{Descrive}</if>
            <if test="type!=null">type=#{type}</if>
            <if test="Salary!=null">Salary=#{Salary}</if>
            <if test="experience!=null">experience=#{experience}</if>
            <if test="workTime!=null">workTime=#{workTime}</if>
            <if test="jobRequirements1!=null">jobRequirements1=#{jobRequirements1}</if>
            <if test="jobRequirements2!=null">jobRequirements2=#{jobRequirements2}</if>
            <if test="jobRequirements3!=null">jobRequirements3=#{jobRequirements3}</if>
            <if test="jobRequirements4!=null">jobRequirements4=#{jobRequirements4}</if>
            <if test="jobRequirements5!=null">jobRequirements5=#{jobRequirements5}</if>
            <if test="channelPromotion1!=null">channelPromotion1=#{channelPromotion1}</if>
            <if test="channelPromotion2!=null">channelPromotion2=#{channelPromotion2}</if>
            <if test="jobType!=null">job_type=#{jobType}</if>
        </set>
        where id = #{id}
    </update>
</mapper>