<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.dao.IResumeDao">
        <resultMap id="BaseResultMap" type="com.job.pojo.Resume">
            <id column="resume_id" jdbcType="INTEGER" property="resumeId" />
            <result column="user_id" jdbcType="INTEGER" property="userId" />
            <result column="resume_userName" jdbcType="VARCHAR" property="resumeUserName" />
            <result column="resume_userSex" jdbcType="VARCHAR" property="resumeUsersex" />
            <result column="resume_birthday" jdbcType="VARCHAR" property="resumeBirthday" />
            <result column="resume_educationBackground" jdbcType="VARCHAR" property="resumeEducationBackground" />
            <result column="resume_positionApplied" jdbcType="VARCHAR" property="resumePositionApplied" />
            <result column="resume_address" jdbcType="VARCHAR" property="resumeAddress" />
            <result column="resume_almamater" jdbcType="VARCHAR" property="almamater" />
            <result column="resume_englishLevel" jdbcType="VARCHAR" property="englishLevel" />
            <result column="resume_computerLevel" jdbcType="VARCHAR" property="cpmputerLevel" />
            <result column="resume_major" jdbcType="VARCHAR" property="major" />
            <result column="resume_awards" jdbcType="VARCHAR" property="awards" />
            <result column="resume_workExperience" jdbcType="VARCHAR" property="workExperience" />
            <result column="resume_userimage" jdbcType="VARCHAR" property="userImage" />
            <result column="resume_userTelephone" jdbcType="VARCHAR" property="userTelephone" />
        </resultMap>
    <update id="resumeUpdate">
        update resume
        <set>
            <if test="resumeUserName != null">resume_userName = #{resumeUserName}</if>
            <if test="resumeUsersex != null"> ,resume_userSex = #{resumeUsersex}</if>
            <if test="resumeBirthday != null"> ,resume_birthday = #{resumeBirthday}</if>
            <if test="resumeEducationBackground != null"> ,resume_educationBackground = #{resumeEducationBackground}</if>
            <if test="resumePositionApplied != null"> ,resume_positionApplied = #{resumePositionApplied}</if>
            <if test="resumeAddress != null"> ,resume_address = #{resumeAddress}</if>
            <if test="almamater != null"> ,resume_almamater = #{almamater}</if>
            <if test="englishLevel != null"> ,resume_englishLevel = #{englishLevel}</if>
            <if test="cpmputerLevel != null"> ,resume_computerLevel = #{cpmputerLevel}</if>
            <if test="major != null"> ,resume_major = #{major}</if>
            <if test="awards != null"> ,resume_awards = #{awards}</if>
            <if test="workExperience != null"> ,resume_workExperience = #{workExperience}</if>
            <if test="userImage != null"> ,resume_userimage = #{userImage}</if>
            <if test="userTelephone != null"> ,resume_userTelephone = #{userTelephone}</if>
        </set>
        where resume_id = #{resumeId}
    </update>
    <select id="resumelist" resultMap="BaseResultMap">
        select * from resume where user_id = #{userId}
    </select>
    <insert id="resumeAdd">
        insert into resume (user_id,resume_id)values (#{userId},#{resumeId})
    </insert>
</mapper>