<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.dao.IResumeDao">
        <resultMap id="BaseResultMap" type="com.job.pojo.Resume">
            <id column="resume_id" jdbcType="INTEGER" property="resumeId" />
            <result column="user_id" jdbcType="INTEGER" property="userId" />
            <result column="resume_birthday" jdbcType="VARCHAR" property="resumeBirthday" />
            <result column="resume_positionApplied" jdbcType="VARCHAR" property="resumePositionApplied" />
            <result column="resume_almamater" jdbcType="VARCHAR" property="almamater" />
            <result column="resume_englishLevel" jdbcType="VARCHAR" property="englishLevel" />
            <result column="resume_computerLevel" jdbcType="VARCHAR" property="computerLevel" />
            <result column="resume_major" jdbcType="VARCHAR" property="major" />
            <result column="resume_awards" jdbcType="VARCHAR" property="awards" />
            <result column="resume_workExperience" jdbcType="VARCHAR" property="workExperience" />
            <result column="resume_userimage" jdbcType="VARCHAR" property="userImage" />
            <result column="resume_nation" jdbcType="VARCHAR" property="resumeNation" />

            <result column="name" jdbcType="VARCHAR" property="name" />
            <result column="sex" jdbcType="VARCHAR" property="sex" />
            <result column="addr" jdbcType="VARCHAR" property="addr" />
            <result column="adminId" jdbcType="VARCHAR" property="adminId" />
            <result column="telephone" jdbcType="VARCHAR" property="telephone" />
            <result column="degree" jdbcType="VARCHAR" property="degree" />
            <result column="jobId" jdbcType="INTEGER" property="jobId" />
        </resultMap>
    <insert id="resumeAdd">
        insert into resume values (null,#{userId},#{resumeBirthday},#{resumePositionApplied},#{almamater},
        #{englishLevel},#{computerLevel},#{major},#{awards}
        ,#{workExperience},#{userImage},#{resumeNation},#{name},#{sex},#{addr},#{adminId},#{telephone},#{degree},#{jobId})
    </insert>
    <update id="resumeUpdate">
        update resume
        <set>
            <if test="resumeBirthday != null">resume_birthday = #{resumeBirthday}</if>
            <if test="resumePositionApplied != null"> ,resume_positionApplied = #{resumePositionApplied}</if>
            <if test="almamater != null"> ,resume_almamater = #{almamater}</if>
            <if test="englishLevel != null"> ,resume_englishLevel = #{englishLevel}</if>
            <if test="computerLevel != null"> ,resume_computerLevel = #{computerLevel}</if>
            <if test="major != null"> ,resume_major = #{major}</if>
            <if test="awards != null"> ,resume_awards = #{awards}</if>
            <if test="workExperience != null"> ,resume_workExperience = #{workExperience}</if>
            <if test="userImage != null"> ,resume_userimage = #{userImage}</if>
            <if test="name != null"> ,name = #{name}</if>
            <if test="sex != null"> ,sex = #{sex}</if>
            <if test="addr != null"> ,addr = #{addr}</if>
            <if test="degree != null"> ,degree = #{degree}</if>
            <if test="jobId != null"> ,jobId = #{jobId}</if>

        </set>
        where resume_id = #{resumeId}
    </update>
    <select id="resumelist" resultMap="BaseResultMap">
        select * from resume where user_id = #{userId}
    </select>
    <select id="findresumeByAdmin" parameterType="String" resultMap="BaseResultMap">
        select * from resume where adminId = #{adminId}
    </select>
    <select id="finResumeByUserId" parameterType="Integer" resultMap="BaseResultMap" >
        select * from resume where user_id = #{userId}
    </select>
    <select id="finResumeByResumeId" parameterType="Integer" resultMap="BaseResultMap" >
        select * from resume where resume_id = #{resumeId}
    </select>
    <select id="finResumeByJobId" parameterType="Integer" resultMap="BaseResultMap" >
        select * from resume where jobId = #{jobId}
    </select>
</mapper>