<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.dao.IUserDao">
        <resultMap id="BaseResultMap" type="com.job.pojo.User">
            <id column="user_id" jdbcType="INTEGER" property="userId" />
            <result column="user_name" jdbcType="VARCHAR" property="userName" />
            <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
            <result column="Email" jdbcType="VARCHAR" property="email" />
            <result column="telephone" jdbcType="VARCHAR" property="telephone" />
            <result column="user_Picimg" jdbcType="VARCHAR" property="userPicimg" />
            <result column="user_age" jdbcType="VARCHAR" property="userAge" />
            <result column="user_workExperience" jdbcType="VARCHAR" property="workExperience" />
            <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
            <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
            <result column="user_educationBackground" jdbcType="VARCHAR" property="userEducationBackground" />
        </resultMap>

    <select id="login" parameterType="User" resultMap="BaseResultMap">
		select * from user where telephone=#{telephone} and user_password=#{userPassword}
	</select>
    <insert id="Register" parameterType="User" useGeneratedKeys="true" keyProperty="user_id">
        insert into user (user_name,user_password,Email,telephone,user_age,user_workExperience,user_address,user_sex,user_educationBackground)
        values
        (#{userName},#{userPassword},#{email},#{telephone},#{userAge},#{workExperience},#{userAddress},#{userSex},#{userEducationBackground})
    </insert>
    <update id="ForgetPassword" parameterType="User">
        update user set user_password = #{userPassword} where telephone=#{telephone} and Email=#{email}
    </update>
    <update id="UpdateInfo" parameterType="User">
        update user set user_name = #{userName} ,telephone = #{telephone},Email = #{email} where user_id = #{userId}
    </update>
    <!--
    <select id="SelectOne" parameterType="int" resultMap="BaseResultMap">
        select * from user where telephone=#{telephone} and user_password=#{userPassword}
    </select>
    -->
    <delete id="DeleteUser" parameterType="User" >
        delete user where user_name = #{userName}
    </delete>

    <!--  查询所有的用户     -->
    <select id="selectAll" parameterType="User" resultMap="BaseResultMap">
        select * from user;
    </select>
    <!--  分页查询     -->
    <select id="selectUserBytePage" resultMap="BaseResultMap">
        select * from user limit #{page},#{limit};
    </select>
    <select id="findUserCount" resultMap="BaseResultMap" resultType="java.lang.Integer">
        select count(*) from user;
    </select>
    <!--删除一个用户-->
    <delete id="deleteUserByteId" >
        delete from user where user_id = #{id}
    </delete>
    <!--修改一个用户的信息-->
    <update id="updateUserInfo">
        update user
          <set>
              <if test="userName!=null">user_name = #{userName}</if>
              <if test="userPassword!=null">user_password = #{userPassword}</if>
              <if test="email!=null">Email = #{email}</if>
              <if test="telephone!=null">telephone = #{telephone}</if>
              <if test="userPicimg!=null">user_Picimg = #{userPicimg}</if>
              <if test="userAge!=null">user_age = #{userAge}</if>
              <if test="workExperience!=null">user_workExperience = #{workExperience}</if>
              <if test="userAddress!=null">user_address = #{userAddress}</if>
              <if test="userSex!=null">user_sex = #{userSex}</if>
              <if test="userEducationBackground!=null">user_educationBackground = #{userEducationBackground}</if>
          </set>
          where user_id = #{userId}
    </update>
    <update id="saveAndUpdateUserInfoInUserCenter">
        update user
        <set>
            <if test="userName!=null">user_name = #{userName},</if>
            <if test="userPassword!=null"> user_password = #{userPassword},</if>
            <if test="email!=null">Email = #{email},</if>
            <if test="telephone!=null">telephone = #{telephone},</if>
            <if test="userPicimg!=null">user_Picimg = #{userPicimg},</if>
            <if test="userAge!=null"> user_age = #{userAge},</if>
            <if test="workExperience!=null">user_workExperience = #{workExperience},</if>
            <if test="userAddress!=null">user_address = #{userAddress},</if>
            <if test="userSex!=null">user_sex = #{userSex},</if>
            <if test="userEducationBackground!=null">user_educationBackground = #{userEducationBackground}</if>
        </set>
        where user_id = #{userId}
    </update>
</mapper>